*.exe
*.o
labels
*.pyc
__pycache__
python/__pycache__
venv
python/BLUR
python/HIST
python/CONTOUR
python/THRESHOLD
python/FINAL
python/THRESHOLDM
python/THRESHOLDG
python/GRAY
python/ORIGINAL
python/TESSERACT
python/temp.txt
python/demo
*.jpg
